* {
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none
}

@media (max-width: 600px) {
    body {
        font-weight: 10px;
    }
}

.main {
    max-width: 800px;
    height: max-content;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}

.MyPhoto {
    float: right;
}

.block_item > p {
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.icon > img {
    margin-right: 10px;
}

.block_flexbox {
    display: flex;
    flex-wrap: wrap;
}

.icon {
    margin: 0px 15px 0 0;
    font-size: 20px;
    padding: 10px 8px 0px 0px;
    display: inherit;
}

.block1 {
    display: flex;
}

.block_skills {
    padding: 0 0 0 30px;
}

.buttom {
    display: flex;
    flex-wrap: wrap;
}

.buttom > p {
    width: max-content;
    padding: 4px 9px;
    color: #ffffff;
    background: #3db945;
    margin: 3px;
}

li {
    font-weight: bold;
    margin-top: 10px;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

.line {
    text-decoration: underline;
    font-weight: bold;
}